*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    max-height: 100vh;
    width: 100%;
    background-color:  #221316;
    margin: 0;
}

header {
    background-color: #250902;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.maingame {
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url("http://pavbca.com/walldb/original/f/7/c/51709.jpg");
    background-size: cover;
    background-position: center;
}

footer {
    background-color: #221316;
    height: 100px;
    width: 100%;
    display: flex;

}
header .left {
    height: 100%;
    flex-grow: 1;
    padding: 20px;
}

header .middle {
    height: 100%;
    flex-grow: 2;
}

header .right {
    height: 100%;
    flex-grow: 1;
    padding: 20px;
}

main .rage {
    height: 50px;;
    display: inline-block;
    margin-bottom: 10px;
    width: 500px;
    padding-left: 20px;
}

main .beer {
    height: 50px;
    display: inline-block;
    margin-bottom: 10px;;
    width: 1000px;
    padding-left: 20px;

}
 main .skill {
     height: 50px;;
     display: inline-block;
     margin-bottom: 10px;
     width: 750px;
     padding-left:20px;
 }

main .avatar {
    display: flex;
    flex-grow: 1
}



footer .beer {
    height: 100%;
    flex-grow: 1;
    display: inline-block;
}

footer .skill {
    height: 100%;
    flex-grow: 1;
    display:inline-block;
}

footer .center {
    height: 100%;
    flex-grow: 4;
    display: inline-block;
}

footer .skill {
    height: 100%;
    flex-grow: 1;
    display: inline-block;
}

.buddy {
    max-height: 400px;
    max-width: 300px;
    height: auto;
    width: auto;
    align-self: flex-end;
    margin-left: auto;
    margin-right: auto;
}

button {
    max-height: 60px;
    font-size: 15px;
    background-color: #ccc5b9;
    color: white;
    border-radius: 10%;
    padding: 5px;
}

.amplifier {
    max-height: 350px;
    max-width: 200px;
    height: auto;
    width: auto;
    align-self: flex-end;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}

